
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

.env
verification-code.txt
playwright-report/
test-results/
node_modules/
.DS_Store
